{{#each articles }}

	<div class="col-md-12">
		<div id="articles">
				<h3> {{title}} 
					<button class="btn btn-success save-article-button"> Save Article </button>
				</h3>
				<p> {{summary}} </p>
			
			
			<img src="{{image}}" />

		</div>
	</div>	
{{/each}}
